extends _partial/layout
block content
  article.post(itemscope itemtype="http://schema.org/Article", id= page.layout + "-" + page.slug )
    h1.title(itemprop="name")= page.title
    div.toc-container.clearfix!= toc(page.content, {list_number: false})
    .article-content(itemprop="articleBody")!= page.content
      div.post-info= "发表于 "
        time(itemprop= "datePublished", content= date_xml(page.date))= date(page.date, "YYYY/M/D H:mm:ss")
        = "，"
        if(!Array.isArray(page.tags))
          != "并被添加「 " + list_tags(page.tags, {show_count: false, style: false}) + " 」标签，"
        != "最后修改于 "
        time(itemprop= "dateModified", content= date_xml(page.updated))= date(page.updated, "YYYY/M/D H:mm:ss")
      p= "本文链接："
        a(href= config.url + url_for(page.path) title= page.title itemprop="url")= config.url + url_for(page.path)

  if config.disqus_shortname
    hr
    #comment
      #disqus_thread
        div= "评论内容还在加载中。。。"
        div= "如无法加载，请将域名 disqus.com 和 disquscdn.com 加入到你的代理规则中"
    script.
      var flag = true;
      window.onscroll = function() {
        //- 页面向下滚动距离
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        //- 显示区域高度
        var clientHeight = document.documentElement.clientHeight;
        //- 评论区距离页面顶部高度
        var commentOffset = document.getElementById('comment').offsetTop;
        if(scrollTop + clientHeight>commentOffset && flag){
          flag = false;
          var disqus_config = function () {
            console.log(this.page.url)
            console.log(this.page.identifier)
            this.page.url = "#{config.url + url_for(page.path)}"; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "#{page.title}";               // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function () {
            var d = document,
              s = d.createElement('script');
            s.src = "https://#{config.disqus_shortname}.disqus.com/embed.js";
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        }
      }
