- var pageTitle =  page.title ?  page.title+ " | " + config.title : ''|| page.category ?  page.category+ " | " + config.title : ''|| page.tag ?  page.tag+ " | " + config.title : '' || page.month ? page.month+ "月的归档 | " + config.title : '' || config.title
doctype html
html
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link(rel="stylesheet",href= url_for('css/style.css'))
    title= pageTitle
  body

    div.titlewrapper
      h1= config.title
    nav.clearfix
      ul
        each link,index in theme.menu
          li
            a(href=url_for(link))= index
    div.wrap
      div.main
        block content

      aside.sidebar
        div
          hr
          div.tagcloud!= tagcloud({min_font: 14})

        div.clearfix
          hr
          div.archives!= list_archives({show_count: false, format: "MMMM YYYY"})
    footer
      .copyrigt
      | Power by hexo theme by oonnnoo
