- var pageTitle =  page.title ?  page.title+ " | " + config.title : ''|| page.category ?  page.category+ " | " + config.title : ''|| page.tag ?  page.tag+ " | " + config.title : '' || page.month ? page.month+ "月的归档 | " + config.title : '' || config.title
- var pageDescription =  page.description ? page.description : '' || page.excerpt ? strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') : ''||config.description? config.description:''
doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly", content="True")
    meta(name="description", content= pageDescription)
    meta(http-equiv="Cache-Control", content="no-transform")
    meta(http-equiv="Cache-Control", content="no-siteapp")
    meta(name="generator", content="Hexo")
    meta(name="description", content= pageDescription)
    meta(property="og:type", content="website")
    meta(property="og:title", content= pageTitle)
    meta(property="og:url", content= config.url + url_for(page.path))
    meta(property="og:site_name", content= config.title)
    meta(property="og:description", content= pageDescription)
    meta(property="og:locale", content="zh-CN")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content= pageTitle)
    meta(name="twitter:description", content= pageDescription)
    if config.social.twitter
      meta(name="twitter:creator", content= config.social.twitter)
    link(rel="alternate" href="./atom.xml" title= pageTitle)
    link(rel="canonical" href= config.url + url_for(page.path))
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="icon" sizes="192x192" href= url_for("icons/192.png") )
    link(rel="apple-touch-icon" sizes="144x144" href= url_for("icons/144.png") )
    link(rel="stylesheet",href= url_for("css/style.css"))
    link(rel="manifest", href= url_for("manifest.json"))
    meta(name="theme-color", content="#000000")
    meta(name="apple-touch-fullscreen" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title= pageTitle
    script.
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/blog/sw.js")
          .then(reg => console.log("service worker registered"))
          .catch(err => console.log("service worker not registered"));
      }
  body
    div.titlewrapper.container
      h1= config.title
    //-顶部导航
    nav.clearfix.container
      ul
        each link,index in theme.menu
          li
            a(href=url_for(link))= index
    div.wrap.container
      div.main
        block content

      if page.next || page.prev
        nav.page-navigator
          != paginator({prev_text: __('上一页'), next_text: __('下一页')})

      aside.sidebar
        div
          hr
          div.tagcloud!= tagcloud({min_font: 14})

        div.clearfix
          hr
          div.archives!= list_archives({show_count: false, format: "MMMM YYYY"})
    footer.container
      .copyrigt
      | Power by &nbsp;
      a(href="https://github.com/hexojs/hexo" rel="nofollow noopener")= "hexojs"
      | &nbsp;|&nbsp;Theme by&nbsp;
      a(href="https://github.com/ryanlid/hexo-theme-simple" rel="nofollow noopener")= "simple"
      | &nbsp;|&nbsp;Create by&nbsp;
      a(href="https://lidong.me")= "Lidong"
